<%= form_with(model: @user, local: true) do |f| %>
<div class="mb-1 sm:mb-2">
  <%= f.label :name, class: "inline-block mb-1 font-medium" %>
  <%= f.text_field :name, placeholder: :name, class: "form-control flex-grow w-full h-12 px-4 mb-2 transition duration-200 bg-white border border-gray-300 rounded shadow-sm appearance-none focus:border-deep-purple-accent-400 focus:outline-none focus:shadow-outline" %>

  <% if @user.errors[:name].present? %>
  <div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="absolute text-red-500 right-2 bottom-6" viewBox="0 0 1792 1792">
      <path d="M1024 1375v-190q0-14-9.5-23.5t-22.5-9.5h-192q-13 0-22.5 9.5t-9.5 23.5v190q0 14 9.5 23.5t22.5 9.5h192q13 0 22.5-9.5t9.5-23.5zm-2-374l18-459q0-12-10-19-13-11-24-11h-220q-11 0-24 11-10 7-10 21l17 457q0 10 10 16.5t24 6.5h185q14 0 23.5-6.5t10.5-16.5zm-14-934l768 1408q35 63-2 126-17 29-46.5 46t-63.5 17h-1536q-34 0-63.5-17t-46.5-46q-37-63-2-126l768-1408q17-31 47-49t65-18 65 18 47 49z">
      </path>
    </svg>
  </div>
  <% end %>
  <% @user.errors.full_messages_for(:name).each do |message| %>
  <div class="relative">
    <div class="text-sm text-red-500 -bottom-6"><%= message %></div>
  </div>
  <% end %>
</div>

<div class="mb-1 sm:mb-2">
  <%= f.label :email, class: "inline-block mb-1 font-medium" %>
  <%= f.email_field :email, placeholder: "john.doe@example.org", class: "form-control flex-grow w-full h-12 px-4 mb-2 transition duration-200 bg-white border border-gray-300 rounded shadow-sm appearance-none focus:border-deep-purple-accent-400 focus:outline-none focus:shadow-outline" %>

  <% if @user.errors[:email].present? %>
  <div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="absolute text-red-500 right-2 bottom-6" viewBox="0 0 1792 1792">
      <path d="M1024 1375v-190q0-14-9.5-23.5t-22.5-9.5h-192q-13 0-22.5 9.5t-9.5 23.5v190q0 14 9.5 23.5t22.5 9.5h192q13 0 22.5-9.5t9.5-23.5zm-2-374l18-459q0-12-10-19-13-11-24-11h-220q-11 0-24 11-10 7-10 21l17 457q0 10 10 16.5t24 6.5h185q14 0 23.5-6.5t10.5-16.5zm-14-934l768 1408q35 63-2 126-17 29-46.5 46t-63.5 17h-1536q-34 0-63.5-17t-46.5-46q-37-63-2-126l768-1408q17-31 47-49t65-18 65 18 47 49z">
      </path>
    </svg>
  </div>
  <% end %>
  <% @user.errors.full_messages_for(:email).each do |message| %>
  <div class="relative">
    <div class="text-sm text-red-500 -bottom-6"><%= message %></div>
  </div>
  <% end %>
</div>

<div class="mb-1 sm:mb-2">
  <%= f.label :password, class: "inline-block mb-1 font-medium" %>
  <%= f.password_field :password, class: "form-control flex-grow w-full h-12 px-4 mb-2 transition duration-200 bg-white border border-gray-300 rounded shadow-sm appearance-none focus:border-deep-purple-accent-400 focus:outline-none focus:shadow-outline" %>

  <% if @user.errors[:password].present? %>
  <div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="absolute text-red-500 right-2 bottom-6" viewBox="0 0 1792 1792">
      <path d="M1024 1375v-190q0-14-9.5-23.5t-22.5-9.5h-192q-13 0-22.5 9.5t-9.5 23.5v190q0 14 9.5 23.5t22.5 9.5h192q13 0 22.5-9.5t9.5-23.5zm-2-374l18-459q0-12-10-19-13-11-24-11h-220q-11 0-24 11-10 7-10 21l17 457q0 10 10 16.5t24 6.5h185q14 0 23.5-6.5t10.5-16.5zm-14-934l768 1408q35 63-2 126-17 29-46.5 46t-63.5 17h-1536q-34 0-63.5-17t-46.5-46q-37-63-2-126l768-1408q17-31 47-49t65-18 65 18 47 49z">
      </path>
    </svg>
  </div>
  <% end %>
  <% @user.errors.full_messages_for(:password).each do |message| %>
  <div class="relative">
    <div class="text-sm text-red-500 -bottom-6"><%= message %></div>
  </div>
  <% end %>
</div>

<div class="mb-1 sm:mb-2">
  <%= f.label :password_confirmation, "Password confirmation", class: "inline-block mb-1 font-medium" %>
  <%= f.password_field :password_confirmation, class: "form-control flex-grow w-full h-12 px-4 mb-2 transition duration-200 bg-white border border-gray-300 rounded shadow-sm appearance-none focus:border-deep-purple-accent-400 focus:outline-none focus:shadow-outline" %>

  <% if @user.errors[:password_confirmation].present? %>
  <div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="absolute text-red-500 right-2 bottom-6" viewBox="0 0 1792 1792">
      <path d="M1024 1375v-190q0-14-9.5-23.5t-22.5-9.5h-192q-13 0-22.5 9.5t-9.5 23.5v190q0 14 9.5 23.5t22.5 9.5h192q13 0 22.5-9.5t9.5-23.5zm-2-374l18-459q0-12-10-19-13-11-24-11h-220q-11 0-24 11-10 7-10 21l17 457q0 10 10 16.5t24 6.5h185q14 0 23.5-6.5t10.5-16.5zm-14-934l768 1408q35 63-2 126-17 29-46.5 46t-63.5 17h-1536q-34 0-63.5-17t-46.5-46q-37-63-2-126l768-1408q17-31 47-49t65-18 65 18 47 49z">
      </path>
    </svg>
  </div>
  <% end %>
  <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
  <div class="relative">
    <div class="text-sm text-red-500 -bottom-6"><%= message %></div>
  </div>
  <% end %>
</div>

<div class="mt-4 mb-2 sm:mb-4">
  <%= f.submit yield(:button_text), class: "inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-deep-purple-accent-400 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none" %>
</div>
<% end %>